<section class="ht-cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cloud-background-1-scaled.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>Keep your business running from anywhere.
                    <br/><br/>Need your team to work remotely? No problem.
                        <br/><strong>Employees can use HubTran anytime, anywhere.</strong></h3>
                </div>
            </div>
        </div>
    </div>
</section>
